{{#> layouts/base title="글쓰기"}}

    {{#*inline "head-block"}}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css">
    {{/inline}}

    {{#*inline "body-block"}}
        <div class="row col-lg-10 col-md-12">
            <h1>글쓰기</h1>

            <form action="/articles/write" id="editForm" method="post">
                <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
                <input type="hidden" name="userId" value="{{principal.id}}"/>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력하세요">
                </div>

                <div class="form-group">
                    <div id="bodyEditor"></div>
                    <input type="hidden" id="body" name="body">
                </div>

                <div class="form-group text-right">
                    <button type="button" class="btn btn-default" id="btnCancel">취소</button>
                    <button type="submit" class="btn btn-primary" id="btnSubmit">제출</button>
                </div>

            </form>
        </div>
    {{/inline}}

    {{#*inline "script-block"}}
        <script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
        <script>
            $(function () {
                $('#bodyEditor').summernote({
                    height: 500
                });

                $("#btnSubmit").on("click", function (e) {
                    e.preventDefault();
                    var body = $('#bodyEditor').summernote('code');
                    $("#body").val(body);

                    $("#editForm").submit();
                });
            });
        </script>
    {{/inline}}

{{/layouts/base}}
